 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     outline: none;
 }

 .content {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     min-height: 100vh;
 }

 .calculator {
     display: flex;
     flex-direction: column;
     justify-content: center;
     flex-direction: column;
     border: 1px solid black;
     padding: 1em;
     height: 400px;
     width: 300px;
 }

 .display {
     border: 1px solid yellow;
     background: black;
     color: white;
     padding: 1em;
 }
.buttons{
    display: flex;
    justify-content: space-between;
}

 .numbers {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
     grid-auto-rows: minmax(30px, auto);
     margin-top: 2em;
     cursor: pointer;
 }
 .operators{
    display: grid;
     grid-template-columns: repeat(1, 1fr);
     gap: 10px;
     grid-auto-rows: minmax(30px, auto);
     margin-top: 2em;
 }
 .numbers>div{
    border: 1px solid red;
    padding: 1em;
    text-align: center;
 }

 .operators>div{
    border: 1px solid red;
    padding: 1em;
    text-align: center;
 }