 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     outline: none;
 }

 .content {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     min-height: 100vh;
 }

 .calculator {
     display: flex;
     flex-direction: column;
     justify-content: center;
     flex-direction: column;
     border: 1px solid black;
     padding: 1em;
     height: 500px;
     width: 300px;
     
 }

 .display {
     border: 1px solid yellow;
     background: black;
     color: white;
     padding: 1em;
 }
.currentoperation{
    background: lightblue;
    height: 1.5em;
    padding: .5em;
    color: black;
    display: flex;
    justify-content: flex-end;
    
}

.activearea{
    background: lightslategray;
    height: 1.5em;
    padding: .5em;
}
 .buttons {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .numbers {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
     grid-auto-rows: minmax(30px, auto);
     margin-top: 2em;
     cursor: pointer;
     flex: 1 0 70%;
 }

 .clearbutton {
     border: 1px solid red;
     padding: 1em;
     text-align: center;
     flex: 0 1 100%;
     margin-top: 1em;
     cursor: pointer;
 }

 .operatorbuttons {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     gap: 10px;
     grid-auto-rows: minmax(30px, auto);
     margin-top: 2em;
     cursor: pointer;
     flex: 1 0 20%;
 }

 .operatorbuttons .selected {
     background: yellow;
 }

 .numbers>div {
     border: 1px solid red;
     padding: 1em;
     text-align: center;
 }

 .operatorbuttons>div {
     border: 1px solid red;
     padding: 1em;
     text-align: center;
 }

 .testarea {
     margin-top: 2em;
     border: 1px solid red;
     padding: 2em;
 }

 .testarea div {
     margin-bottom: 1em;
 }